body{

}
#game-div{
	display:flex;
	justify-content: space-between;
/*	gap:20px;*/
}
#game{
	order:0;
}
#opponent-hand{
	border:1px solid black;
	display:flex;
	flex-direction: column;
	width:425px;
}
#your-hand{
	order:1;align-self: end;
	border:1px solid black;
	display:flex;
	flex-direction: column;
	width:425px;
}
#deck{padding-bottom: 350px}
#oppDeck{padding-top: 350px}

#info{
	border:1px solid black;
	height:175px;
	display:flex;
	gap:25px;
}
#organized-info{display: flex;flex-direction: column;align-content: space-between;}