nav {
    background-color: navy;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.navItem:hover {
    background: grey;
    opacity: 0.5;
}
.satL:hover{
    opacity: 0.5;
    color: purple;

}
.navItem {
    font-family: Helvetica;
    background-color: navy;
    color: White;
    font-size: 16px;
    padding: 5px;
}
a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}
#missionStatement {
    text-align: center;
}
#team {
    text-align: center;
}
#webTitle {
    text-align: center;
    background-color: skyblue;
}
h1 {
    text-align: center;
    color: black;
}
body {
    background-color: skyblue;
}
.satDesc {
    text-align: center;
    font-size: 25px;
}
.satImg {
    text-align: center;
}
.satImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 20;
  }